{% extends "base.html" %}

{% block metatags %}
<title>Upload | PaperPi</title>
<meta name="description" content="Manage Picture Uploads for the PaperPI.">
{% endblock %}

{% block contents %}
<div class="container">
    <div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload</li>
        </ol>
    </div>
    <article>
        <h1>Manage Pictures on your PaperPi</h1>
        <p class="lead">Upload, Download, or delete pictures</p> 
        <div class="row">
            <div class="col">Files Stored: {{ numFiles }}</div>
            <div class="col">Disk Usage: {{ diskUsage }}</div>
        </div>
    </article>
    <br>
    <div class="row" >
        <div class="col col-sm-auto">
            <form action="{{ url_for('bl_upload.download_files') }}">
                    <input type="submit" value="Download Files">    
            </form>
        </div>
        <div class="col col-sm-auto">
            <form action="{{ url_for('bl_upload.delete_files') }}">
                <input type="submit" value="Delete Files">    
            </form>
        </div>
    </div>
    <br>
    <div class="row input-group" >
        <div class="form col col-sm-auto">
            <form method="POST" enctype="multipart/form-data">
                <input class="form-control" type="file" name="file" multiple>
        </div>
        <div class="col col-sm-auto">
            <input type="submit" class="btn btn-primary" value="Upload Files">
            </div>
            </form>
    </div>    
    <br>
    <div>
        <ul>
        {% for file in files %}
            {% if loop.first is true%}
            <h4>Files in Picture Directory: {{loop.length}}</h4>
            {% endif %}
                <li>{{ file }}</li>
        {% endfor %}
        </ul>    
    </div>    
</div>
{% endblock %}